:root {
    --white: #eee;
    --black: #111;
    --theme-color: #f58ea8;
    --font-color: var(--black);
    --background-color: #f1f3f4;
    --semi-black-color: rgba(32, 32, 32, 0.8);
    --semi-white-color: hsla(0, 0%, 87.8%, 0.8);
    --border-radius: 0.4rem;
    --animation-out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--black);
        --font-color: var(--white);
    }
}

@font-face {
    font-family: "Akari Number";
    src: local("Helvetica Neue"), local("Helvetica");
    unicode-range: U+30-39;
}

@font-face {
    font-family: "Akari Fallback UI";
    src: local("Segoe UI"), local("Roboto"), local("Oxygen"), local("Ubuntu"), local("Cantarell"), local("Open Sans"),
        local("Helvetica Neue"), local("Helvetica");
}

html {
    color: var(--font-color);
    font-family: "Akari Number", -apple-system, BlinkMacSystemFont, "Akari Fallback Text", system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    caret-color: var(--theme-color);
}

body,
html {
    height: 100%;
    background-color: #f1f3f4;
    background-color: var(--background-color);
}

.app-header {
    position: fixed;
    top: 0;
    z-index: 233;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    color: #f58ea8;
    color: var(--theme-color);
    background: rgba(40, 40, 40, 0.85);
    box-shadow: 0 1px 1px #f58ea8;
    box-shadow: 0 1px 1px var(--theme-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    display: flex;
    background: #f1f3f4;
    background: var(--background-color);
}

.app-main {
    display: flex;
    flex: 1 0 auto;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 60px;
    color: #eee;
    color: var(--white);
    cursor: default;
}

.icon > svg {
    width: 30px;
    height: 30px;
    margin: 0;
    fill: currentColor;
}

textarea {
    flex: 1 1 auto;
    padding: 70px 10px 10px;
    color: #111;
    color: var(--font-color);
    background: transparent;
    border: none;
    opacity: 0.8;
    resize: none;
}

textarea:focus {
    opacity: 1;
}

button {
    margin: 0;
    padding: 0.5rem;
    background: 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-group {
    display: flex;
    height: 100%;
    overflow-x: auto;
    overflow-x: overlay;
    overflow-y: hidden;
}

.button-group > button {
    flex: 0 0 auto;
    height: 60px;
    color: #eee;
    color: var(--white);
}

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    background: hsla(0, 0%, 87.8%, 0.8);
    background: var(--semi-white-color);
    border-radius: 0.4rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 1rem #f58ea8, 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 1rem var(--theme-color), 0 0 0 100vmax rgba(0, 0, 0, 0.4);
}

.dialog[open] {
    display: block;
    animation: dialogSlideIn 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation: dialogSlideIn 0.25s var(--animation-out-back);
}

.dialog > summary {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.dialog > section {
    padding: 1rem;
}

fieldset {
    border: 1px dashed #f58ea8;
    border: 1px dashed var(--theme-color);
}

input[type="number"] {
    width: 6rem;
    text-align: center;
    background: 0;
    border: 0;
    border-bottom: 1px solid #f58ea8;
    border-bottom: 1px solid var(--theme-color);
}

.split-translation {
    width: 25rem;
}

.split-translation input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

input[type="radio"]::after {
    width: 20rem;
    padding-left: 2rem;
    content: attr(title);
}

#regex {
    background: 0;
    border: 0;
    border-bottom: 1px solid #f58ea8;
    border-bottom: 1px solid var(--theme-color);
}

@keyframes dialogSlideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}

.ripple::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
    content: "";
    pointer-events: none;
}

.ripple:active::after {
    transform: scale(0);
    opacity: 0.2;
    transition: 0s;
}
